<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
 
  <div style="margin-left:300px;">
  <p>エリア 東京 東京駅・丸の内</p>
  <p>ジャンル　紳士服</p>
  <h1>BroksBrothers</h1>
  <h5>店舗情報</h5>
  
  <h2>THE ORIGINAL AMERICAN BRAND</h2>
  
  <p style="width:500px;">
      ブルックス ブラザーズは、アメリカでもっとも歴史ある衣料ブランドとして1818年に創業しました。「最高品質の商品だけをつくり、取り扱うこと。適正な利益のみを含んだ価格で販売し、その価値を理解できる顧客とのみ取引すること」。創業者ヘンリー・サンズ・ブルックスが掲げた基本理念がこの言葉に表れています。
  No.1サックスーツ、ポロカラー（ボタンダウン）シャツ、ポロコートなど、ブルックス ブラザーズが生み出した商品は、世界中の多くの人々に愛用されています。そしてリンカーン、ケネディなどの歴代米大統領からフレッド・アステア、アンディ・ウォーホルなどの有名人、ポップスターからハリウッドスターまで、多くの有名人が顧客リストに名を連ねます。
  </p>
  
  <h2>工房からメイドインジャパンを届けます。</h2>
  <p style="width:500px;">始めは、小さなランドセル工房だった土屋鞄製造所。今では、商品の企画から販売まで一貫してものづくりに取り組んでいます。その過程の中で少しずつ新しい仲間や、私たちと想いを同じくする工房を迎え、共に品質の向上に努めています。
  
  また、世代を超えてメイドインジャパンの技術をつないでいくことも、土屋鞄製造所の信条。「ものづくりが好き」という若手のエネルギーも、「ずっと、これだけをやってきた」という熟練のまっすぐなパワーも大切にしながら、日々商品を製造しています。</p>
  
  <h2>写真</h2>
  <img src="kv.jpg" style ="width:180px; height:100px;"></img>
  <h3>店内</h3>
  <img src="kv.jpg" style ="width:180px; height:100px;"></img>
  <h3>外観</h3>
  <h3>スタッフ</h3>
  <table>
    <thead>
        <tr>
            <th>住所</th>
            <th>北海道札幌市中央区南1条西2丁目 一条館3F</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>アクセス</td>
            <td>＜電車＞札幌市営地下鉄南北線・東西線・東豊線大通駅下車</td>
        </tr>
        <tr>
            <td>TEL</td>
            <td></td>
        </tr>
        <tr>
            <td>営業時間</td>
            <td>011-205-1555</td>
        </tr>
        <tr>
            <td>休業日</td>
            <td>不定休</td>
        </tr>
        <tr>
            <td>備考</td>
            <td>ウィメンズ【大通館5F】 TEL:011-205-2506</td>
        </tr>
        <tr>
            <td>取り扱い商品</td>
            <td>MEN　WOMEN　PERSONAL ORDER</td>
        </tr>
        <tr>
            <td>URL</td>
            <td><a href= "http://www.brooksbrothers.co.jp/ourstory/#pageTop">詳細</a></td>
        </tr>
    </tbody>
</table>
    <button>来店</button>
    <button>行きたい</button>
    <button>フォロー</button>
  
    <h2>特集・お知らせ</h2>
    <a>つくりの秘密</a>
    <a>革のこだわり</a>

    <h2>商品ラインナップ</h2>
</div>